@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Roboto", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
}

h1 {
  text-align: center;
}
span,
p {
  margin-left: 3px;
  margin-right: 2px;
}

#poke-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5px 30%;
  border: 0px solid black;
  border-radius: 50px;
  background-color: #f5f5f5;
}

#poke-img > img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-1 {
  margin-top: 15px;
}
.info,
.stat-info,
#types {
  display: flex;
}

#types p {
  margin: 3px;
  font-weight: bold;
}

.stat-info {
  gap: 10px;
}

.card-2 {
  margin-top: 10px;
  width: 20vw;
  background-color: azure;
}

.stat-box {
  width: 15vw;
  background-color: plum;
  text-align: center;
  font-weight: 700;
}

.grass {
  background-color: green;
}
.normal {
  background-color: grey;
}
.fire {
  background-color: orange;
}
.water {
  background-color: lightblue;
}
.electric {
  background-color: yellow;
}
.ice {
  background-color: aqua;
}
.fighting {
  background-color: red;
}
.poison {
  background-color: purple;
}
.flying {
  background-color: violet;
}
.psychic {
  background-color: palevioletred;
}
.bug {
  background-color: greenyellow;
}
.rock {
  background-color: burlywood;
}
.ghost {
  background-color: #7a57d1;
}
.dragon {
  background-color: #a275e3;
}
.steel {
  background-color: steelblue;
}
.dark {
  background-color: #4f1c4c;
}
.fairy {
  background-color: pink;
}
